#controller {
    margin: auto;
    height: 40px;
    width: 1440px;
    background: #fff;
    position: absolute;
    pointer-events: all;
}

input[type="button"] {
    width: 120px;
    height: 40px;
}

#ui-panel {
    margin: auto;
    height: 900px;
    width: 1440px;
    position: absolute;
    pointer-events: none;
}

#HUD,
#hurt,
#dead,
#loading,
#time-out,
#game-result {
    height: 900px;
    width: 1440px;
    opacity: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
}

#ui-panel #HUD #game-time {
    background-image: url(../ui/game-time.png);
    width: 301px;
    height: 64px;
    position: absolute;
    left: 780px;
    top: 50px;
    font-size: 50px;
    color: #fff;
    text-align: center;
    line-height: 64px;
}

#ui-panel #HUD #game-score {
    background-image: url(../ui/game-score.png);
    width: 301px;
    height: 66px;
    position: absolute;
    left: 400px;
    top: 50px;
    font-size: 50px;
    color: #f00;
    text-align: center;
    line-height: 66px;

}

#ui-panel #HUD #game-life {
    background-image: url(../ui/game-life.png);
    width: 303px;
    height: 75px;
    position: absolute;
    right: 50px;
    bottom: 50px;
}

#ui-panel #HUD #game-life #game-life-bar {
    width: 223px;
    height: 30px;
    position: absolute;
    right: 4px;
    bottom: 2px;
}

#ui-panel #HUD #game-life #game-life-bg {
    background-image: url(../ui/game-life-bg.png);
    width: 30px;
    height: 30px;
    position: absolute;
    left: 80px;
    bottom: 40px;
}

#ui-panel #HUD #game-life #game-life-text {
    font-size: 30px;
    color: #00ff22;
    height: 30px;
    position: absolute;
    left: 120px;
    bottom: 40px;
    line-height: 30px;
}

#ui-panel #hurt {
    background-color: red;
}

#ui-panel #dead {
    background-color: rgba(255, 0, 0, 0.3);
    background-image: url(../ui/you_are_dead.png);
}

#ui-panel #loading {
    background-image: url(../ui/loading.jpg);
}

#ui-panel #loading #loading-bar {
    position: absolute;
    width: 220px;
    height: 20px;
    transform: translate(890px, 640px);
}

#ui-panel #time-out {
    background-image: url(../ui/time-out.png);
}

#ui-panel #time-out #next-level-btn {
    position: absolute;
    width: 164px;
    height: 53px;
    left: 640px;
    top: 470px;
    pointer-events: all;
    background-image: url(../ui/next-level-btn.png);
}

#ui-panel #time-out #next-level-btn:hover {
    filter: hue-rotate(240deg);
    cursor: pointer;
}

#ui-panel #game-result #title {
    position: absolute;
    width: 373px;
    height: 53px;
    left: 520px;
    top: 50px;
    background-image: url(../ui/Game-Result.png);
}

#ui-panel #game-result #home {
    position: absolute;
    width: 164px;
    height: 53px;
    left: 640px;
    top: 800px;
    pointer-events: all;
    background-image: url(../ui/home-btn.png);
}

#ui-panel #game-result #home:hover {
    filter: hue-rotate(240deg);
    cursor: pointer;
}

#ui-panel #game-result {

    background-image: url(../ui/result-frame.png);
}

#ui-panel #game-result #board {
    width: 1046px;
    height: 574px;
    position: absolute;
    left: 197px;
    top: 163px;
}

#ui-panel #game-result #board #record {
    top: 37px;
    width: 480px;
    height: 500px;
    position: relative;
    float: left;
    left: 50px;
    font-size: 50px;
    color: #999;
    text-shadow: 2px 2px 5px #000000;
    line-height: 2;
}

#ui-panel #game-result #board #record #record-life {
    color: #00ff22;
}

#ui-panel #game-result #board #record-score {
    color: #f00;
}

#ui-panel #game-result #board #record-total-score {
    color: #ffffcc;
}

#ui-panel #game-result #board #record-text {
    font-size: 20px;
    line-height: 10px;
}

#ui-panel #game-result #board #record-board {
    top: 37px;
    width: 480px;
    height: 500px;
    position: relative;
    float: left;
    left: 40px;
    color: #ffffcc;
    font-size: 40px;
    line-height: 50px;

}

#record-board-table tr td {
    width: 200px;
    text-align: center;
}

.rank {
    font-size: 30px;
    line-height: 40px;
}

.popText {
    position: absolute;
    font-size: 20px;
    text-align: center;
    height: 20px;
}